<p>user-edit works!</p>
<label>UserEdit</label> |
<div class = "component">
    <table class = "table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="user.id" type="text" size="10" disabled>
            </td>
        </tr>
        
        <tr>
            <th>Username:</th>
                <td>
                    <input [(ngModel)]="user.username" type="text" size="20"maxlength="30" >
                </td>
        </tr>
        <tr>
            <th>Password
                <td>
                    <input [(ngModel)]="user.password" type="text" size="20" maxlength="30">
                </td>
        </tr>
        <tr>

            <th>Firstname:</th>
                <td>
                    <input [(ngModel)]="user.firstname" type="text" size="20" maxlength="30" >
                </td>
        </tr>
        <tr>
                <th>Lastname:</th>
                    <td>
                        <input [(ngModel)]="user.lastname" type="text" size="20" maxlength="30" >
                    </td>
        </tr> 

        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
        
    </table>
</div>

